<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>学习笔记 - {{ topic }}</title>
</head>
<body>
    <h1>{{ topic }}</h1>
    <a href="{% url 'learning_logs:new_entry' topic.id %}">添加新条目</a>
    <ul>
        {% for entry in entries %}
            <li>
                <p>{{ entry.date_added|date:'M d, Y H:i' }}</p>
                <p>{{ entry.text|linebreaks }}</p>
                <a href="{% url 'learning_logs:edit_entry' entry.id %}">编辑条目</a>
            </li>
        {% empty %}
            <li>这个主题还没有条目。</li>
        {% endfor %}
    </ul>
</body>
</html>